// Fonts and Typography
$lato: "Lato", sans-serif;
$raleway: "Raleway", sans-serif;

//colors
$white: #fff;
$black: #000;
$light-blue: #90caf9;
$ocean-blue: #2a2b36;
$midnight-blue: #181924;
$card-bg: #282933;
$card-border-color: hsla(0, 0%, 100%, 0.075);
$ocean-blue-hover: hsla(0, 0%, 100%, 0.05);
$form-bg: hsla(0, 0%, 100%, 0.05);
$icon-fill: hsla(0, 0%, 100%, 0.87);
$input-border: hsla(0, 0%, 100%, 0.09);
