@import "../variables";

.button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-style: none;
  cursor: pointer;
  color: $midnight-blue;
  border-radius: 5px;
  border: 2px solid $light-blue;

  i {
    margin-right: 10px;
    font-size: 1.3rem;
  }
  &-secondary {
    color: $midnight-blue;
    background: transparent;
    border: 1px solid $midnight-blue;
  }

  &-primary {
    background: $light-blue;
  }

  &-transparent {
    background: transparent;
    color: $light-blue;
    border: none;
  }
}
