@import "../variables";

.button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: 2px solid $deep-red;

  &-secondary {
    color: $deep-red;
    background: $white;
  }

  &-primary {
    background: $deep-red;
  }
}
