.button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-style: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;

  &-secondary {
    border: 3px solid #a90329;
    color: #a90329;
    background: #fff;
  }

  &-primary {
    background: linear-gradient(
      to bottom,
      #a90329 0%,
      #8f0222 44%,
      #6d0019 100%
    );
  }
}
