@import "../variables";

.sidebar {
  background: $ocean-blue;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  color: $white;
  width: 16rem;
  box-shadow: $sidebar-box-shadow;

  &-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    &-item {
      list-style: none;

      &-link {
        display: flex;
        flex: 1 1;
        padding: 0.85rem 3rem;
        transition: background 0.15s ease, color 0.15s ease;

        &:hover {
          background: $ocean-blue-hover;
        }
      }
    }
  }
}
