html,
body,
p,
span {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.user-form-container {
  width: 600px;
  margin: 0 auto;
}

.user-form-input input {
  width: 100%;
}
